body{
	font-size: 16px;
	color: #fff;
	background-color: #7DFB6D;
	font-family: 'Libre Baskerville', serif;
}
/*Header-nav*/
#header-nav{
	background-color: #276FE8;
	border-radius: 0;
	border: 0;
}

.navbar-brand{
	padding-top: 25px;
}
.navbar-brand h1{
	font-family: 'Libre Baskerville', serif;
	color: #250032;
	font-size: 1.5em;
	font-weight: bold;
	margin-top: 0;
	margin-bottom: 0;
	line-height: .75;
}
